    <!-- footer
    ================================================== -->
    <footer>

        <div class="row footer-main">

            <div class="col-six tab-full left footer-desc">

                <div class="footer-logo"></div>
                <!-- Subscribe to our exclusive newsletter and become part of an incredible community of comedy enthusiasts! By joining, you'll gain access to a world of laughter, where you'll receive regular updates on KevOnStage's latest sketches, stand-up performances, behind-the-scenes content, and much more. Don't miss out on the inside scoop, hilarious anecdotes, and special surprises we have in store just for our subscribers. So, grab a front-row seat to the comedy extravaganza and be the first to know about upcoming shows, merchandise releases, and exciting announcements. Take a leap into the world of endless laughter and subscribe to our newsletter today! -->
                Join our exclusive comedy community! Subscribe to our newsletter for regular updates on KevOnStage's latest sketches, stand-up performances, behind-the-scenes content, and more. Don't miss out on the inside scoop, hilarious anecdotes, and special surprises we have in store for subscribers. Be the first to know about upcoming shows, merchandise releases, and exciting announcements. Subscribe today and dive into a world of endless laughter!

            </div>

            <div class="col-six tab-full right footer-subscribe">

                <h4>Get Notified</h4>
                <p>Join the laughter revolution and stay in the comedy loop by subscribing to our newsletter today</p>

                <div class="subscribe-form">
                    <form id="mc-form" class="group" novalidate="true">
                        <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="mc-email" class="subscribe-message"></label>
                    </form>
                </div>

            </div>

        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright tomulumbi 2023</span>
                    <span>Site by <a href="https://www.tomulumbi.com/">tomulumbi</a></span>
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->
